body {
  background-color:linen;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

body .carrusel-fotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: none;
}

.image-carrousel{
  width: 4rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  cursor: pointer;
}

body .navbar {
  background-color: #09095e;
  width: 100%;
  margin-top: none;
}

.logo {
  text-decoration: none;
  color: #7ee1ff;
  cursor: pointer;
  font-size: 1.25rem; 
  margin: auto;
  margin-left: 1rem;
}

body .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

body .nav {
  display: none;
}
.barra-principal, .barra-buscador{
  display: none;
}

.barra-menu {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.navbar2 {
  background-color:linen;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.conteiner2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.equipos{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  width: 100%;
}

.equipo{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 1rem;
  margin-top: 1rem;
  
}
.especial{
  color: grey;
}

  .hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    
  }

  .titulo-noticias{
    font-size: 25px;
    text-align:left;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: #e08d11 4px solid;

  }
  .titulo-noticias-texto{
    text-transform: uppercase;
    margin-left: 5%;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .foto-noticia{
    width: 90%;
    margin-left: 5%;
  }

  .marconaranja{
    width: 90%;
    margin-left: 1.1rem;
    border: #e08d11 4px solid;
  }
  .texto-noticia {
    border: lightgrey 2px solid;
    background-color: white;
    margin: auto;
    margin-top: -1rem;
    margin-bottom: 1rem;
    width: 89%;
    border-radius: 5px;
  }
 
  .titulo{
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: -0.5rem;
    font-weight: lighter;
    color: rgb(26, 25, 25);
  }
  .titulo-color{
    color: red;
  }
  .fecha{
    margin-left: 20px;
    font-weight: lighter;
    margin-bottom: -0.5rem;
  }
  .fecha-color{
    color: orange;
  }
  .subtitulo {
    margin-left: 20px;
    font-weight: lighter;
    font-size: 15px;
    color: rgb(26, 25, 25);
  }

.linea-archivos{
  font-size: 1,5rem;
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom:#e08d11 4px solid;
}
.archivos{
  text-transform: uppercase;
  margin-left: 5%;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
}
.final{
  background-color: #09095e;
  margin-top: 2rem;
}
.seguinos, .contacto-texto, .ubicacion{
  color: orange;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 5%;
  text-align:center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  
}
.instagram, .twitter, .facebook{
  width: 25%;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  margin: auto;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.contacto{
  color: #e08d11;
  display: flex;
  flex-direction: column;
  margin: auto;
  vertical-align: middle;

}
.listado-contacto, .mail{ 
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  vertical-align: middle;
  margin-bottom: 1rem;
}
.lista-container{
  display: flex;
  flex-direction: row;
}
.lista{
  margin-bottom: 0.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}
.lista::before {
  content: "";
  height: 20px;
  width: 20px;
  background-image: url(https://images.vexels.com/media/users/3/157890/isolated/preview/4f2c005416b7f48b3d6d09c5c6763d87-icono-de-circulo-de-marca-de-verificacion.png);
  background-size: contain;
  display: flex;
  flex-direction: column;
}
.mapa{
  display: flex;
  flex-direction: column;
}
.googlemaps {
  width: 80%;
  margin-left: 10%;
}
.avenida {
  color: white;
  margin: auto;
  font-size: 1.2rem;
  margin-top: 1.5rem;
 margin-bottom: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .carrusel-fotos{
    width: 100%;
  } 
  .image-carrousel{
    width: 3rem;
    height: 6rem;
    object-fit:cover;
  }
  .navbar2, .barra-secundaria, .conteiner2, .equipos{
    width: 100%;
  }
 
  .equipo{
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
  }
  .masgrande{
    min-width: 100%;
  }
  .seccion-noticia{
    min-width: 40%;
    flex: 1;
  }

  .final {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  .seguinos{
    display: flex;
    flex-direction: column;
    width: 45%;
  }
  .contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mapa{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
  }
  .googlemaps{
    width: 80%;
  }
  .final{
    display: flex;

  }
  .redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .instagram, .twitter, .facebook{
    width: 7rem;
  
  }

  .lista::before {
    content: "";
    position: static;
    height: 20px;
    width: 20px;
    background-image: url(https://images.vexels.com/media/users/3/157890/isolated/preview/4f2c005416b7f48b3d6d09c5c6763d87-icono-de-circulo-de-marca-de-verificacion.png);
    background-size: contain;
    left: 6rem;
  }
}

@media only screen and (min-width: 1024px) {
  .carrusel-fotos{
    width: 100%;
  } 
  .image-carrousel{
    width: 4rem;
    height: 6rem;
    object-fit:cover;
  }
  .barra-menu {
   display: none;
  }
  .navbar{
    height: 4.3rem;
  }

  .barra-principal, .barra-buscador {
    display: block;
  }
  .barra-principal{
    width: 100%;
    margin: auto;
    margin-right: 3%;
    margin-left: 3%;
  }
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; 
  }
  
  .barrap{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .barra{
    color: orange;
    font-size: 0.90rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align:center;
    margin: auto;
    align-items: center;
    -ms-flex-align: center;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
  }
  .barra-buscador{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
  }
  .buscador{
    list-style: none;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
 }
 
  .buscador::before{
    content: "";
    height: 1rem;
    width: 1rem;
    background-image: url(https://tpng.net/download/800x800_87-872187_lupa-png.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
  }
  .final {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .seguinos{
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mapa{
    display: flex;
    flex-direction: column;
    width: auto;
    overflow-x: hidden;
  }
  .final{
    display: flex;
  }
  .redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .instagram, .twitter, .facebook{
    width: 7rem;
  
  }
  
}


@media only screen and (min-width: 1250px) {
  .carrusel-fotos{
    width: 100%;
  } 
  .image-carrousel{
    width: 5rem;
    height: 4rem;
    object-fit:cover;
  }
  
  .barrap{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    }
 
  .buscador{
    list-style: none;
    overflow: hidden;
    width: 100%;
  }
  .buscador::before{
    content: "";
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-image: url(https://tpng.net/download/800x800_87-872187_lupa-png.png);
    background-size: contain;
    right: 10%;
    margin-top: 0.2rem;
  }
  .final {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .seguinos{
    display: flex;
    flex-direction: column;
    width:30%;
  }
  .contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }
  .mapa{
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  .final{
    display: flex;

  }
  .redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 30rem;
  }
  .instagram, .twitter, .facebook{
    width: 7rem;
  }
  .mapa{
    overflow-x: hidden;
  }

  .googlemaps {
    width: 80%;
    margin-left: 10%;
  }
}

